// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$color-grey: #eef0ee;
$color-backgroud: #fafafa;
$color-text: #34485c;
$color-red: #ff4d72;
$color-turquoise: #10cfc9;

// Measure
$default-space:3rem;

